1
4
3
/home/simon/Documents/ZKK/images/background.png
/home/simon/Documents/ZKK/images/logo.png
/home/simon/Documents/ZKK/images/gold.png
/home/simon/Documents/ZKK/images/silver.png
/home/simon/Documents/ZKK/images/bronze.png

Index för namn i semikolon separerad fil
Index för belopp
Antal vinnare
Bilder...gissa vilka
