0
1
4
5
resources/background.png
resources/logo.png
resources/gold.png
resources/silver.png
resources/bronze.png
resources/civet.png
resources/tear.png
resources/sparkle.png
resources/smile.png
5
5

Index för namn i semikolon separerad fil
Index för belopp
Index för saldo
Bilder...gissa vilka
fps för gif
gif längd
