1
4
/home/simon/Documents/ZKK/Kaffeligan/dependencies/background.png
/home/simon/Documents/ZKK/Kaffeligan/dependencies/logo.png
/home/simon/Documents/ZKK/Kaffeligan/dependencies/gold.png
/home/simon/Documents/ZKK/Kaffeligan/dependencies/silver.png
/home/simon/Documents/ZKK/Kaffeligan/dependencies/bronze.png
/home/simon/Documents/ZKK/Kaffeligan/dependencies/medals.png

Index för namn i semikolon separerad fil
Index för belopp
Bilder...gissa vilka
