1
4
5
/home/simon/Documents/ZKK/Kaffeligan/dependencies/background.png
/home/simon/Documents/ZKK/Kaffeligan/dependencies/logo.png
/home/simon/Documents/ZKK/Kaffeligan/dependencies/gold.png
/home/simon/Documents/ZKK/Kaffeligan/dependencies/silver.png
/home/simon/Documents/ZKK/Kaffeligan/dependencies/bronze.png
/home/simon/Documents/ZKK/Kaffeligan/dependencies/civet.png
/home/simon/Documents/ZKK/Kaffeligan/dependencies/tear.png
5
5

Index för namn i semikolon separerad fil
Index för belopp
Index för saldo
Bilder...gissa vilka
fps för gif
gif längd
